* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "kaeru kaeru";
    src: url("assets/kaeru-kaeru/fonts/kaerukaeru-Regular.otf");
}

@keyframes blink {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

body {
    color: tomato;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h1 {
    font-family: "kaeru kaeru";
    font-style: none;
    color: red;
    text-shadow: 2px 2px brown;
    font-size: 36pt;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    margin: auto;
    display: block;
    max-width: 1000px;
}

ul { 
    list-style-type: disc;
}

li {
    display: list-item;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

.nav {
    list-style-type: none;
    margin: 0;
    color: brown;
    padding: 0;
    display: flex;
    float: right;
    /* border: 1px solid #e7e7e7; */
    /* background-color: #f3f3f3; */
}

.nav li {
    display: block;
    border: none;
    cursor: pointer;
}

/* .nav li a {
    display: block;
    text-decoration: none;
} */

/* .nav li:hover {
    color: gold;
} */

.dropbtn {
    background-color: black;
    color: brown;
    margin: 6px 0 0 0;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkred;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
    color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: brown;
}

.dropdown:hover .dropbtn {
  background-color: darkslategrey;
}

.window {
    display: inline-block;
    margin: 2em 5em;
    border: 0.5px solid brown;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 10px 15px rgb(72, 0, 0);
}

.symb {
    padding:5px;
}

.window-doc {
    border-top: 0.5px solid brown;
    padding: 1em 2em;
}

.edit-window {
    display: block;
    max-width: 1000px;
    margin: 5em auto;
    border: 0.5px solid rebeccapurple;
    box-shadow: 10px 15px rgb(31, 0, 72);
    color: slateblue;
}

.edit-window .window-doc {
    border-top: 0.5px solid rebeccapurple;
    padding: 1em 2em;
}

.edit-window .symb {
    font-size: 16pt;
}

.search {
    display: inline-block;
    color: darkslategray;
    border: 0.5px solid darkslategray;
    padding: 2px 100px 2px 2px;
    font-style: italic;
}

.blink {
    opacity: 1.0;
    animation: blink 0.5s infinite alternate; /* this shit isnt workingg*/
}

.plain {
    color: firebrick;
    margin: 20px 50px;
}

mark {
    background-color: rgba(255, 255, 0, 0.5);
}